<div class="modal-header border-0">

</div>
<div class="modal-body">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-3 border-right">
        <div class="row">



          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all"
                aria-selected="true">All</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="tsdb-tab" data-toggle="tab" href="#tsdb" role="tab" aria-controls="tsdb"
                aria-selected="false">TSDB</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="olap-tab" data-toggle="tab" href="#olap" role="tab" aria-controls="olap"
                aria-selected="false">OLAP</a>
            </li>
          </ul>


        </div>
      </div>
      <div class="col-md-9">
        <div class="tab-content" id="dbTabContent">
          <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">

            <div class="list-group">
              <a class="list-group-item list-group-item-action" [ngClass]="{'active': seletedDb == 'Couchbase'}"
                (click)="clickDb('Couchbase')">Couchbase</a>
              <a class="list-group-item list-group-item-action" [ngClass]="{'active': seletedDb == 'Druid'}"
                (click)="clickDb('Druid')">Druid</a>
              <a class="list-group-item list-group-item-action" [ngClass]="{'active': seletedDb == 'Elasticsearch'}"
                (click)="clickDb('Elasticsearch')">Elasticsearch</a>
              <a class="list-group-item list-group-item-action" [ngClass]="{'active': seletedDb == 'MongoDB'}"
                (click)="clickDb('MongoDB')">MongoDB</a>
            </div>

          </div>

          <div class="tab-pane fade" id="tsdb" role="tabpanel" aria-labelledby="tsdb-tab">tsdb dbs</div>
          <div class="tab-pane fade" id="olap" role="tabpanel" aria-labelledby="olap-tab">olap dbs</div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="modal-footer border-0">
  <button type="submit" class="btn btn-primary" (click)="openDbDetailModal()">OK</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cancel</button>
</div>
