spring:
  profiles:
    active: production
server:
  port: 8100
configs:
  dmaap:
    consumer:
      re-registration:
        dmaapHostName: localhost
        dmaapPortNumber: 2222
        dmaapTopicName: unauthenticated.PNF_Update
        dmaapProtocol: http
        dmaapContentType: application/json
        consumerId: c12
        consumerGroup: OpenDcae-c12
        timeoutMs: -1
        messageLimit: 1
      cpe-authentication:
        dmaapHostName: localhost
        dmaapPortNumber: 2222
        dmaapTopicName: unauthenticated.CPE_Authentication
        dmaapProtocol: http
        dmaapContentType: application/json
        consumerId: c12
        consumerGroup: OpenDcae-c12
        timeoutMs: -1
        messageLimit: 1
    producer:
      dmaapHostName: localhost
      dmaapPortNumber: 2223
      dmaapTopicName: unauthenticated.DCAE_CL_OUTPUT
      dmaapProtocol: http
      dmaapContentType: application/json
  aai:
    client:
      aaiHost: localhost
      aaiPort: 8080
      aaiProtocol: https
      aaiUserName: AAI
      aaiUserPassword: AAI
      aaiIgnoreSslCertificateErrors: true
      aaiHeaders:
        X-FromAppId: bbs
        X-TransactionId: 9999
        Accept: application/json
        Real-Time: true
        Content-Type: application/json
  security:
    trustStorePath: /opt/app/bbs-event-processor/etc/cert/trust.jks
    trustStorePasswordPath: /opt/app/bbs-event-processor/etc/cert/trust.pass
    keyStorePath: /opt/app/bbs-event-processor/etc/cert/cert.jks
    keyStorePasswordPath: /opt/app/bbs-event-processor/etc/cert/jks.pass
    enableAaiCertAuth: false
    enableDmaapCertAuth: false
  application:
    pipelinesPollingIntervalSec: 25
    pipelinesTimeoutSec: 15
    policyVersion: 1.0.0.5
    clTargetType: VM
    clEventStatus: ONSET
    clVersion: 1.0.2
    clTarget: vserver.vserver-name
    clOriginator: DCAE-bbs-event-processor
    re-registration:
      policyScope: policyScope
      clControlName: controlName
    cpe-authentication:
      policyScope: policyScope
      clControlName: controlName
logging:
  level:
    ROOT: ERROR
    org.onap.bbs: INFO
    org.onap.dcaegen2: WARN
    reactor.ipc.netty.http.client: WARN
    org.springframework: ERROR
    org.springframework.data: ERROR
    org.springframework.web.reactive: WARN