.db-panel {
  background: #FFFFFF;
  box-shadow: 3px 3px 11px 0 #D2D3D5;
  border-radius: 20px;
  position: relative;
  /*width: 100%;
  padding-top: 75%;*/
  /* 4:3 Aspect Ratio */
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #313032;
  /*vertical-align: middle;*/
  text-align: center;
}
