.nav-pills .nav-link.active,
.nav-pills .nav-link:hover {
  color: #ffffff;
  background-color: #5DBEBB;
}

.nav-link {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #313449;
  text-align: left;
  border-radius: 0px;
}

.nav-pills .show>.nav-link {
  background-color: #FFFFFF;
}
