<div class="row">
  <div class="col-md-12 path">
    Home > DataLake Feeder > Dashboard
  </div>
</div>

<div class="row">
  <div class="col-md-3 p-2">
    <div class="dashboard-panel">
      <div class="row">
        <div class="col-md-12 title">
          Topics
        </div>
        <div class="col-md-12 number">
          {{ topicNumber }}
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 p-2">
    <div class="dashboard-panel">
      <div class="row">
        <div class="col-md-12 title">
          Success
        </div>
        <div class="col-md-12 number">
          {{ topicSuccess }}
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 p-2">
    <div class="dashboard-panel">
      <div class="row">
        <div class="col-md-12 title">
          Fail
        </div>
        <div class="col-md-12 number">
          {{ topicFail }}
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 p-2">
    <div class="dashboard-panel">
      <div class="row">
        <div class="col-md-12 title">
          Event
        </div>
        <div class="col-md-12 number">
          {{ topicEvents }}
        </div>
      </div>
    </div>
  </div>
</div>
