<div id="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 sidebar-header p-0"></div>
      <div class="col-md-10 header pl-3 pr-3">
        <app-header></app-header>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 sidebar p-0">
        <app-sidebar></app-sidebar>
      </div>

      <div class="col-md-10 content pl-3 pr-3">
        <hr>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
