<div class="modal-header border border-bottom">
  <h1><label>OLAP store | Druid</label></h1>
  <hr>
</div>
<div class="modal-body border-0">

  <div class="form-group">
    <div class="row">
      <div class="col-md-4"><label for="inputBucket">Database</label></div>
      <div class="col-md-8">
        <input class="form-control input-dl-field" id="inputBucket" type="text" placeholder="">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4"><label for="inputHost">Host</label></div>
      <div class="col-md-8">
        <input class="form-control input-dl-field" id="inputHost" type="text" placeholder="">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4"><label for="inputPort">Port</label></div>
      <div class="col-md-8">
        <input class="form-control input-dl-field" id="inputPort" type="text" placeholder="">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4"><label for="inputUserName">Authentication</label></div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <input class="form-control input-dl-field" id="inputUserName" type="text" placeholder="Username">
          </div>
          <div class="col-md-6">
            <input class="form-control input-dl-field" id="inputPass" type="text" placeholder="Password">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4"><label for="inputSsl">SSL</label></div>
      <div class="col-md-8">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" id="inputSsl" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="inputSsl">Enable</label>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="modal-footer border-0">

  <div class="d-flex align-items-start">
    <div class="p-2 mr-auto">
      <button type="button" class="btn btn-outline-dark">Verify</button>
    </div>
    <div class="p-2">
      <button type="button" class="btn btn-outline-dark">Save</button>
    </div>
    <div class="p-2">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>

  </div>

</div>
